* {
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
}

.header, .footer  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 50%;
}

.top-nav, ul, li, a {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: auto;
}

.main { 
    height: 400px;
    display: flex;
}

.main-article {
    flex: 0 1 75%;
}

.side-article { 
    flex: 0 1 25%;
}

.bottom-nav ul { 
    list-style: none;
    display: flex;
    flex-direction: row;
}